apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -v -f docker-compose.yml
    kompose.version: 1.12.0 (0ab07be)
  creationTimestamp: null
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: frontend
    spec:
      containers:
      - image: blade1.se.internal:5000/rju/jpetstore-frontend-service
        name: frontend
        ports:
        - containerPort: 8080
        resources: {}
        env:
        - name: LOGGER
          value: %LOGGER%
      restartPolicy: Always
status: {}
